[submodule "meteor"]
	path = meteor
	url = https://github.com/meteor/meteor
[submodule "modules/meteor-templating/dist"]
	path = modules/meteor-templating/dist
	url = https://github.com/eface2face/meteor-tracker
